.movie-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
    height: 800px;
}

.poster-inner {
    width: 400px;
    float: left;
    margin-right: 100px;
}

.poster-inner img{
    width: 100%;
}

.movie-info-inner{
    position: absolute;
    display: flex;
    flex-direction: row;
}

.movie-genre{
    color: white;
}

.movie-description-inner {
    width: 620px;
}

.movie-title-inner {
    font-size: 50px;
    color: #ffbe00;
    font-weight: 800;
    margin-bottom: 20px;
    width: 620px;
}

.movie-pre-text {
    float: left;
    margin-right: 20px;
    font-weight: 100;
}

.movie-director-inner {
    margin-bottom: 10px;
}

.movie-stars-inner {
    margin-bottom: 10px;
}

.movie-genre-inner {
    margin-bottom: 10px;
}

.movie-rating-inner {
    margin-bottom: 10px;
}

.movie-trailer-inner {
    display: flex;
    border: 1px solid #ffffff;
    padding: 10px;
    width: 100px;
    border-radius: 25px;
    margin-top: 20px;
    height: 35px;
    align-items: center;
    justify-content: center;
    transition: .5s;
    font-weight: 900;
    text-transform: uppercase;
}

.movie-trailer-inner:hover {
    border: 1px solid transparent;
    background: #ffbe00;
    color: #1D1C24;
}

.movie-background {
    opacity: .2;
    pointer-events: none;
    z-index: -9999;
}

.movie-trailer-player {
    float: right;
}

.info-inner{
    float: left;
    margin-right: 40px;
}

.movie {
    display: flex;
    align-items: center;
    justify-content: center;
}

.movie-link {
    position: absolute;
    display: inline-flex;
    margin-top: 600px;
    list-style: none;
}

.movie-link a{
    transform: scale(0.7);
}

.movie-link a:hover{
    transform: scale(0.8);
}

.movie-link a img{
    border-radius: 25px;
}

.movie-box{
    margin-top: 100px;
}