.search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.search-box input.text {
    width: 600px;
    height: 45px;
    border-radius: 20px 0px 0px 20px;
    border: 2px solid #ffbe00;
    background: transparent;
    color: white;
    padding-left: 20px;
}

.search-box button.submit {
    width: 40px;
    height: 45px;
    border-radius: 0px 20px 20px 0px;
    border: 2px solid #ffbe00;
    background: #ffbe00;
}

.search-box svg:not(:root).svg-inline--fa {
    color: #ffffff;
}

::placeholder{
    color: white;
}

button:active{
    transition: .3s;
    opacity: .5;
}